*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 216, 255);
    font-family: Georgia, 'Times New Roman', Times, serif
}
section{
    background-color: white;
    text-align: center;
    padding: 10px;
    height: 20vh;
    display: flex;
    flex-direction: row;
}
div{
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 10px;
    
}
div:hover{
    background-color: rgb(173, 93, 239);
    color: rgb(234, 216, 245);
    scale: 1.1;
    transition: 1s;
}

.logo img {
    max-height: 60px;
}

